# .NET build folders
bin/
obj/

# User-specific files
.vs/
.vscode/
.idea/
Properties/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer packaging
*.appx
*.appxbundle
*.appxupload

# User-specific files
user secrets
*.user
*.userosscache
*.suo
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider IDE
.idea/

# User-specific VSCode settings
.vscode/
